.film-list__wrapper,
.film-listpage__wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 15px;
	animation: verticalSlide .3s;
}

.welcome__wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #122;
	background-image: url(../images/welcome.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	z-index: 99999;
	/* animation: verticalSlide .3s; */
}

.btn-welcome {
	position: absolute;
	width: 20%;
	line-height: 2.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-radius: 6px;
	/* background-color: hsla(0, 0%, 100%, 0.61); */
	background-color: #f1f1f1f1;
	color: #159;
	border: 2px solid #159;
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
	text-decoration: none;
	outline: none;
	/* text-shadow: 0px 1px 0px rgb(31, 99, 99);  */
	text-shadow: 0 2px 1px #3b3e41;
	box-shadow: 0 5px 20px -12px #000;
	transition: all .3s;
}

.btn-welcome:hover {
	color: #fff;
	border-color: #fff;
	background-color: transparent;
	transition: all .3s;
}

.favmovies-wrapper {
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 6em 0em;
	padding: 15px;
	animation: verticalSlide .3s;
}

.favmovies {
	width: 100%;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
}

.btn-addfav {
	background-color: transparent;
	border: 2px transparent;
	cursor: pointer;
	outline: none;
	position: absolute;
	top: 5px;
	left: 5px;
	/* z-index: 999; */
}

.btn-addfav__show {
	width: 125px;
	position: relative;
	display: inline-flex;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	/* z-index: 999; */
	transition: all .3s;
}

.btn-addfav i {
	font-size: 1.2rem;
	border: none;
	background-color: transparent;
	color: #fff;
	text-shadow: 0px 1px 0px #888;
	cursor: pointer;
	transition: all .3s;
}

.green {
	color: greenyellow;
}

.yellow {
	color: rgb(255, 171, 44);
}

.red {
	color: red;
}

.film-listpage__wrapper {
	margin-top: 65px;
}

.caption-div {
	color: #fff;
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.caption-div h2 {
	position: relative;
}

.caption-div h2::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 100px;
	top: 40px;
	left: 0px;
	background: #c62d1f;
}

.loadmore-btn {
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 97%;
	padding: 5px;
	letter-spacing: .1em;
	font-family: inherit;
	font-size: 1.2em;
	color: cyan;
	outline: none;
	border: 1px solid #1fff;
	cursor: pointer;
	background: transparent;
	transform-origin: center;
	transition: all .6s;
}

.loadmore-btn:hover {
	border-radius: 25px;
	transition: .6s;
	letter-spacing: .3em;
}

.loadmore-btn span {
	float: left;
	width: 150px;
	padding: 0px 8px;
	background: transparent;
	border: 1px solid transparent;
}

.loadmore-btn span:first-letter {
	color: red;
 }

.none {
	display: none;
}

.film-list__cardwrapper {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: 1.1em;
	margin-top: 1em;
}

.film-list__container {
	position: relative;
	width: 14%;
	margin: 20px 20px 22px 20px;
	background-color: #101010;
	box-shadow: 0 0px 5px rgb(0 0 0);
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, .20); */
	border-radius: 5px;
	transition: all .3s;
	animation: fade 1s;
}


.film-list__container:hover .film-list__card {
	filter: opacity(40%);
}

.film-list__container:hover .btn-film__list {
	opacity: 1;
	transform: scale(1);
}

.film-list__container:hover .film-list__subdetails {
	transform: scale(1);
	opacity: 1;
}

.btn-film__list {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	outline: none;
	position: absolute;
	top: 8%;
	left: 40%;
	transform: translate(-50%);
	background: linear-gradient(to bottom, #ffffff 5%, #f0ebea 100%);
	background-color: #c62d1f;
	border: 1px solid #d02718;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
	box-shadow: 0px 10px 14px -17px #8a2a21;
	transform: scale(0);
	opacity: 0;
	transition: all .2s;
}

.btn-film__list i {
	font-size: 30px;
	margin-left: 5px;
	color: #c62d1f;
}

.btn-film__list:hover {
	border: none;
	box-shadow: none;
}

.film-list__subdetails {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	text-align: left;
	padding: 10px;
	overflow: hidden;
	color: #122;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transform: scale(0);
	opacity: 0;
	z-index: 9;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
	transition: all .2s;
}

.film-list__poster {
	width: 100%;
	padding-bottom: 145%;
	overflow: hidden;
	display: block;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	animation: fade 1s;
}

.film-list__poster img {
	width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.optional-image {
	width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.title {
	color: #fff;
	text-transform: capitalize;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px 5px 0px 5px;
}

.date-rate {
	width: 100%;
	color: rgb(129, 127, 127);
	font-size: 13px;
	text-transform: capitalize;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.sypnonis {
	padding: 5px;
	border: 2px solid #444444;
	border-radius: 4px;
}

.film-list__countrygenre {
	margin-top: 5px;
}

.preview {
	width: 100%;
	margin-top: 10px;
	line-height: 2rem;
	cursor: pointer;
	outline: none;
	border: 1px solid;
	border-radius: 4px;
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color: #c62d1f;
	border: 1px solid #d02718;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
	box-shadow: 0px 10px 14px -7px #8a2a21;
	transition: all .2s;
}

.fav-preview {
	width: 100%;
	line-height: 1.5rem;
	cursor: pointer;
	outline: none;
	border: 1px solid;
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color: #c62d1f;
	border: 1px solid #d02718;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
	box-shadow: 0px 10px 14px -13px #8a2a21;
	transition: all .2s;
	display: none;
}

.preview i,
.fav-preview i {
	margin-right: 5px;
}

.preview:hover {
	box-shadow: 0px 0px 5px #fff;
	color: #fff;
}

.btn-load {
	width: 150px;
	border-radius: 25px;
	font-size: 17px;
	outline: none;
	padding: 10px;
	cursor: pointer;
	color: #14e9de;
	border: 1px solid #14e9de;
	transition: .3s ease;
	background: transparent;
}

.btn-load:hover {
	background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color: #f24437;
	transform: translateX(-2px);
	color: #fff;
	border: 1px solid #f24437;
}

.pagination {
	width: 300px;
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-radius: 50px;
	transition: all .4s;
}

.bottom-pagination {
	padding-top: 50px;
	display: flex;
	justify-content: center;
}

.pagination-search {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	border-radius: 50px;
	background-color: transparent;
	transition: all .4s;
}

.pagination-search > ul {
	padding: 3px;
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination-search > ul li {
	padding: 10px;
}

.prev,
.next {
	display: block;
	border: 1px solid cyan;
	border-radius: 4px;
	padding: 5px 10px 5px 10px;
	outline: none;
	color: cyan;
	text-decoration: none;
	background: transparent;
	transition: all .3s;
	cursor: pointer;
}

.pagination-search > ul li a {
	list-style-type: none;
	text-decoration: none;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
	transition: all .4s;
}

.pagination-btn__prev,
.pagination-btn__next {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	border: 1px solid #1fff;
	color: #1fff;
	text-decoration: none;
	transition: all .4s;
	background: transparent;
}

.pagination-btn__info {
	width: 150px;
	border-radius: 25px;
	outline: none;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
	background: transparent;
	border: 1px solid cyan;
}

.pagination-btn__prev:hover,
.prev:hover {
	background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color: #f24437;
	transform: translateX(2px);
	box-shadow: none;
	border: 1px solid #f24437;
	color: #fff;
}

.pagination-btn__next:hover,
.next:hover {
	background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color: #f24437;
	transform: translateX(-2px);
	box-shadow: none;
	box-shadow: none;
	border: 1px solid #f24437;
	color: #fff;
}

.pagination-search ul li a.activeness {
	padding: 6px;
	color: #44d8b8;
	text-shadow: none;
	border-radius: 25px;
	border: 3px solid #44d8b8;
	transition: all .4s;
}

.next-text,
.prev-text {
	padding: 5px;
}

/*============= fade ==============*/

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*============= verticalSlide ==============*/
@-webkit-keyframes verticalSlide {
	0% {
		opacity: .01;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes verticalSlide {
	0% {
		opacity: .01;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*============= zoomIn ==============*/
@-webkit-keyframes zoomIn {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.film-list__container {
		width: 44%;
		margin: 9px;
	}

	.film-list__cardwrapper {
		margin-left: 0.3em;
		margin-top: initial;
	}

	.loadmore-btn span {
		display: none;
	}

	.movieinfo-details__title {
		font-size: 25px;
	}

	.film-list__subdetails {
		display: none;
	}

	.fav-preview {
		display: block;
	}

	.btn-welcome {
		width: 85%;
		font-size: 20px;
	}

	.btn-load {
		width: 125px;
		font-size: 16px;
		padding: 5px;
	}

	.caption-div {
		padding: 5px 12px;
		margin-bottom: 15px;
	}

	.caption-div span h2 {
		margin-top: 0px;
		font-size: 16px;
	}

	.caption-div h2::before {
		top: 30px;
	}

	.pagination {
		width: 160px;
		padding: 0px;
		background-color: transparent;
	}

	.pagination-btn__prev,
	.pagination-btn__next {
		width: 34px;
		height: 34px;
		padding: 9px;
	}

	.pagination-btn__info {
		width: 70px;
		padding: initial;
		background-color: transparent;
	}

	.sypnosis h2 {
		margin-top: -10px;
		font-size: 20px;
	}

	.pagination {
		width: 160px;
		padding: 0px;
		background-color: transparent;
	}

	.pagination-btn__info {
		width: 70px;
		padding: initial;
		background-color: transparent;
	}

	.sypnosis h2 {
		margin-top: -10px;
		font-size: 20px;
	}

	.pagination-search {
		font-size: 13px;
		justify-content: center;
		border-radius: 4px;
	}

	.pagination-search > ul {
		padding: initial;
		justify-content: center;
	}

	.pagination-search > ul li {
		padding: 8px;
	}

	.next-text,
	.prev-text {
		padding: initial;
	}

	.favmovies-wrapper h2 {
		font-size: 20px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.film-list__container {
		width: 21%;
		margin: 13px;
	}

	.movieinfo-details__title {
		font-size: 25px;
	}

	.film-list__subdetails {
		display: none;
	}

	.fav-preview {
		display: block;
	}

	.btn-load {
		width: 125px;
		font-size: 16px;
		padding: 5px;
	}

	.btn-welcome {
		width: 55%;
	}

	.caption-div {
		margin-bottom: 15px;
	}

	.caption-div span h2 {
		margin-top: 0px;
		font-size: 20px;
	}

	.pagination {
		width: 160px;
		padding: 0px;
		background-color: transparent;
	}

	.pagination-btn__prev,
	.pagination-btn__next {
		width: 34px;
		height: 34px;
		padding: 9px;
	}

	.pagination-btn__info {
		width: 70px;
		padding: initial;
	}

	.sypnosis h2 {
		margin-top: -10px;
		font-size: 20px;
	}

	.pagination-search {
		font-size: 13px;
		justify-content: center;
		border-radius: 4px;
	}

	.pagination-search > ul {
		padding: initial;
		justify-content: center;
	}

	.pagination-search > ul li {
		padding: 8px;
	}

	.favmovies-wrapper h2 {
		font-size: 20px;
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.film-list__cardwrapper {
		margin-left: 0.6em;
	}

	.film-list__cardwrapper {
		margin-left: 1em;
	}

	.film-list__container {
		width: 14.6%;
		margin: 12px;
	}

	.film-list__subdetails {
		font-size: 12px;
	}

	.preview {
		margin-top: 8px;
		line-height: 1.5rem;
	}

	.btn-load {
		width: 130px;
		font-size: 16px;
		padding: 7px;
	}

	.caption-div h2 {
		font-size: 20px;
	}

	.btn-welcome {
		width: 40%;
	}
}

@media (min-width: 1281px) {
	.film-list__cardwrapper {
		margin-left: 2.6em;
	}

	.film-list__container {
		width: 14.6%;
		margin: 12px;
	}

	.film-list__subdetails {
		font-size: 12px;
	}

	.preview {
		margin-top: 8px;
		line-height: 1.5rem;
	}

	.btn-load {
		width: 130px;
		font-size: 16px;
		padding: 7px;
	}
}

