.wrapper-nav {
	position: absolute;
	top: -5px;
	left: 10px;
}

nav {
	width: 100%;
	background-color: transparent;
	display: flex;
	gap: 1.5rem;
	align-items: center;
	transform: all .3s;
}

nav ul {
	color: #ffffff;
	height: auto;
	display: flex;
	transform: all .3s;
}

.genre-wrapper {
	position: relative;
	font-size: 14px;
	cursor: pointer;
	display: block;
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	transition: all .4s;
}

.genre-wrapper a {
	display: block;
}

.genre-wrapper span {
	cursor: pointer;
}

.genre-wrapper:hover {
	color: cyan;
}

.genre-container {
	position: absolute;
	width: 785px;
	top: 35px;
	padding: 15px 0px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background-color: lavender;
	box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
	transform-origin: top left;
	transform: scale(1);
	transition: all .4s;
}

.genre-container1 {
	position: absolute;
	width: 785px;
	top: 35px;
	padding: 15px 0px;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	background-color: lavender;
	box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
	transform-origin: top left;
	transform: scale(0);
	transition: all .4s;
}

.genre-container::before {
	position: absolute;
	content: "";
	top: 25%;
	left: 48%;
	width: 3px;
	height: 50%;
	border-radius: 25px;
	background-color: red;
	box-shadow: 10px 10px 1px 1px rgb(0 0 0 / 20%);
}

.genre-content__movie,
.genre-content__tv {
	width: 45%;
	font-size: .9em;
	color: #011;
	position: relative;
	display: block;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
	transition: all .3s;
}

.genre-content__movie {
	padding-left: 40px;
}

.genre-content__movie li,
.genre-content__tv li {
	float: left;
	width: 45%;
	margin: initial;
}

.genre-content__movie li a,
.genre-content__tv li a {
	color: #011;
}

.genre-content__movie li:last-child a, .genre-content__tv li:last-child a{
	font-size: 14px;
	color: #011;
	padding: 5px 9px;
}

.genre-content__tv li a:hover,
.genre-content__movie li a:hover {
	color: red;
	transition: all .3s;
}

.genre-content__tv li a:before,
.genre-content__movie li a::before {
	content: "";
	position: initial;
	top: initial;
	height: initial;
	width: initial;
	left: initial;
	background: initial;
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.genre-wrapper h3 {
	color: red;
	padding: 5px;
}

.linkspacers {
	display: none;
}

.liwrapper {
	display: flex;
	align-items: center;
	transition: all .3s;
}

.lower-resolution {
	display: none;
}

.showNav {
	height: auto;
	visibility: hidden;
	opacity: 0;
}

nav a {
	position: relative;
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	padding: 5px 9px;
	display: block;
	text-decoration: none;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .22);
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav a:hover {
	color: cyan;
}

nav ul li:last-child a {
	font-size: 30px;
	color: red;
	padding: 5px 0px;
}

.fav-btn {
	position: relative;
	font-size: 0.8em;
	text-align: center;
	padding: 5px 4px;
	background-color: transparent;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 99;
	outline: none;
	transition: all .3s;
}

.fav-text {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	padding: 0px;
	position: absolute;
	bottom: 17px;
	left: 17px;
	margin: 2px;
	color: #000000;
	width: 27px;
	height: 22px;
	border-radius: 50%;
	text-align: center;
	background: linear-gradient(to bottom, #ffffff 5%, #f0ebea 100%);
	outline: none;
	transition: all .3s;
}

.fav-btn i {
	color: red;
	transition: all .3s;
}

nav ul li:last-child a:hover .fav-btn i {
	color: #1fff;
}

nav a:before {
	content: "";
	position: absolute;
	top: 110%;
	height: 2px;
	width: 0%;
	left: 10%;
	background: cyan;
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav a:hover:before {
	width: 81%;
	background: #d02718;
	transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.activenav {
	position: relative;
	align-items: center;
	color: #14e9de;
	border: 1px solid #14e9de;
	border-radius: 25px;
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


nav ul li {
	list-style: none;
	margin: 5px;
}

.logo {
	color: #fff;
	font-family: 'Roboto';
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .22);
	cursor: pointer;
}

.logo-movies {
	position: relative;
	color: #14e9de;
	display: none;
}

.logo-burger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	z-index: 99;
}

.hamburger {
	border: 2px solid #14e9de;
	border-radius: 2px;
	display: inline-block;
	display: none;
	cursor: pointer;
	transition: all .3s;
}

.row {
	width: 34px;
	height: 4px;
	margin: 4px;
	border-radius: 1px;
	color: #14e9de;
	background-color: #14e9de;
	transition: all .3s;
}

@media (min-width: 320px) and (max-width: 480px) {
	.wrapper-nav {
		top: -10px;
		left: 0px;
		width: 100vw;
	}


	.logo {
		position: absolute;
		left: 70px;
		top: 4px;
	}

	nav {
		flex-direction: column;
		text-align: left;
		align-items: initial !important;
	}


	nav ul {
		height: 0px;
		transition: all .3s;
	}

	.liwrapper {
		position: relative;
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 15px;
		border-radius: 3px;
		overflow: hidden;
		transition: all .3s;
		background: lavender;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
	}

	.linkspacers {
		display: none;
	}

	.showNav {
		height: 650px;
		visibility: visible;
		opacity: 1;
		position: absolute;
		left: 0;
		top: 75px;
		width: 100%;
	}

	nav ul li {
		position: initial;
		border-bottom: initial;
		text-align: center;
		margin: initial;
	}

	nav a {
		color: #000;
		display: block;
		text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
		padding: 5px;
	}

	.hamburger {
		display: block;
		position: absolute;
		top: 0;
		left: 11px;
	}

	.banner-wrapper {
		top: 20px;
	}

	.genre-wrapper {
		position: initial;
		font-size: 14px;
		color: #000;
		display: block;
		text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
	}

	.genre-container::before {
		display: none;
	}

	.genre-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border-radius: initial;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		background-color: lavender;
		box-shadow: initial;
		transition: all .4s;
		z-index: 999;
		transform: translateX(0px);
	}

	.genre-container1 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 999;
		transform: translateX(-1000px);
		background-color: lavender;
		transition: all .4s;
	}

	.genre-content__movie {
		padding-left: 0px;
	}

	.genre-content__movie,
	.genre-content__tv {
		width: 100%;
		height: 100%;
		margin-left: 0px;
	}

	.genre-content__movie li,
	.genre-content__tv li {
		width: 31%;
		color: #011;
		padding: 3px;
		font-size: 15px;
		float: left;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.wrapper-nav {
		top: -10px;
		left: 0px;
		width: 100vw;
	}

	.logo {
		position: absolute;
		left: 70px;
		top: 4px;
	}

	nav {
		flex-direction: column;
		text-align: left;
		align-items: initial;
	}

	nav ul {
		height: 0px;
		transition: all .3s;
	}

	.liwrapper {
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
		margin: 15px;
		border-radius: 3px;
		overflow: hidden;
		background: whitesmoke;
		transition: all .3s;
	}

	.linkspacers {
		display: none;
	}

	.showNav {
		height: 730px;
		visibility: visible;
		opacity: 1;
		position: absolute;
		left: 0;
		top: 80px;
		width: 100%;
	}

	nav ul li {
		position: relative;
		border-bottom: initial;
		text-align: center;
		margin: initial;
	}

	nav a {
		color: #000;
		display: block;
		text-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
		padding: 5px;
	}

	.hamburger {
		display: block;
		position: absolute;
		top: 0;
		left: 11px;
	}

	.banner-wrapper {
		top: 21px;
	}

	.genre-wrapper {
		color: #000;
	}

	.genre-wrapper h3 {
		padding: 0px 0px 10px;
	}

	.genre-container {
		position: relative;
		width: 100%;
		height: 375px;
		top: initial;
		padding: 20px;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: none;
		border-radius: 0px;
		background-color: transparent;
		transform: none;
		opacity: 1;
		transform: translateX(0px);
	}

	.genre-container1 {
		position: relative;
		width: 0;
		height: 0;
		top: initial;
		padding: 0px;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: none;
		border-radius: 0px;
		background-color: transparent;
		opacity: 0;
		transform: translateX(10000px);
	}

	.genre-container::before {
		left: 47%;
	}

	.genre-content__movie {
		width: 100%;
		position: relative;
		padding-left: initial;
	}

	.genre-content__tv {
		width: 100%;
		position: relative;
		margin-left: initial;
	}
}



@media (min-width: 1024px) and (max-width: 1280px) {
	.logo-movies {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-evenly;
	}


	nav a {
		font-size: 14px;
		padding: 5px 7px;
	}
}

@media screen and (min-width: 1280px) and (max-height: 720px) {
	.logo-burger {
		position: absolute;
		left: 0;
	}

	.logo {
		font-size: 13px;
	}

	.liwrapper {
		margin-left: 74px;
	}
}
