
/* .container {
	width: 1663px; 
	margin: 0 auto;
} */


/* @media all and (max-width: 1037px){
	.container{
		width: auto;
	}
} */

/* @media screen and (min-width: 1680px) {
	.container {
		width: 1660px;
		max-width: 1660px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1200px) {
	.container{
		max-width: 1140px;
	}
}

@media (min-width: 992px) {
	.container{
		max-width: 960px;
	}
}

@media (min-width: 768px) {
	.container{
		max-width: 720px;
	}
}

@media (min-width: 576px) {
	.container{
		max-width: 540px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
} 

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}*/
